![png](data/books.png)

In [25]:
import pymysql
pymysql.install_as_MySQLdb()
import pandas as pd

In [26]:
from sqlalchemy import create_engine

In [27]:
# Create connection string using credentials following this format
# connection = "dialect+driver://username:password@host:port/database"
connection = "mysql+pymysql://root:mypassword@localhost/books"

In [28]:
engine = create_engine(connection)

In [29]:
engine

Engine(mysql+pymysql://root:***@localhost/books)

In [30]:
engine = create_engine(connection)

In [35]:
q = """SELECT distinct(books.title)
FROM user
INNER JOIN favorites ON user.id = favorites.user_id
INNER JOIN books ON books.id = books.id
WHERE user.first_name = 'John'
"""
pd.read_sql(q, engine)

                  title
0          Frankenstein
1   Pride and Prejudice
2  The Call of the Wild
3      The Great Gatsby
4                    It
5           The Shining